$fontsizesamll:14px;
$mainbackcolor:#303030;
$medaumfonsize:16px;
$graycolor:#939393;
$darkgray:#333333;
$litegray:#666666;
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
body{
    font-family: 'Titillium Web', sans-serif!important;
}
.header{
    
    .navigation_bar{        
        background: rgba(33, 33, 33, 0.8);
    }
    img{
        max-width: 145px;
    }
    .tophead{
        background: rgba(27, 32, 10, 1);
        padding-bottom: 10px;
        padding-top: 10px;
        a{
            color: #fff;
            text-decoration: none;
            margin-top: 1px;
            margin-bottom:1px;
            font-size:$fontsizesamll ;

        }
        li{
            display: inline;
            margin-left: 15px;
        }
        .navbar-nav{
            display: block;
        }
       
       


    }
    .movenavebar{
       a{
            color: #FFF;
            text-decoration: none;
            margin-left: 40px;
            font-size: $fontsizesamll;
        }
        .active{
            background: #878787;
            border-radius: 7px;
            padding: 10px;;
        }
        .dropdwnbt{
            background-color: transparent;
            border: none;
            outline: none;
            color: #FFFFFF;
            font-size: 14px;
        }
        .dropdown-menu{
            background-color: #212121;
            li{
                margin-left: 0px;
            }
        }
        .dropdown-menu a{
            margin-left: 0px;
            color: #fff;
            font-size: 16px;
        }
        li{
            margin-left: 26px;
        }
        .dropdown-item:focus{
            background-color: #4d4d4d;
        }
        .dropdown-item:hover{
            background-color: #4d4d4d;
        }
    

    }

   
   
}
@media only screen and (max-width: 992px) {
    .movenavebar {
        position: absolute;
        width: 100%;
        left: 0;
        top: 59px;
        background: rgba(33, 33, 33, 0.8);
    }
    .header .movenavebar li{
        margin-bottom: 15px;
        margin-top: 15px;

    }
  
}
.footer{
    background-color: $mainbackcolor;
    font-size:$medaumfonsize;
    color: #fff;
    
    img{
        max-width: 145px;

    }
    a{
        text-decoration: none;
        color: #fff;
        opacity: 0.7;
    }
    a:hover{
        color: #fff;
    }
    .address{
        .num::before{
            font-family: FontAwesome;
            content: "\f095";
            margin-right: 14px;
            color: #fff;
            font-size: 16px;
        }
        .add::before{
            font-family: FontAwesome;
            content: "\f041";
            margin-right: 14px;
            color: #fff;
            font-size: 16px;
        }
        .gamil::before{
            font-family: FontAwesome;
            content: "\f003";
            margin-right: 14px;
            color: #fff;
            font-size: 16px;
        }
        
        
            
        

    }
    .Enterprise{
        font-size:14px;
        margin-top: 10px;

    }
    .social{
        a{
          
        }
        a:hover{
            opacity: 1;
            transform: scale(1.1);
        }
        .fa{
            margin-right: 11px;
            font-size: 20px;
        }
    }
    
    h5{
        opacity: 0.7;
        font-size: $medaumfonsize;
       
    }
    .topline{
        padding-bottom: 10px;
        padding-top: 10px;
        a{
            color: #fff;
            text-decoration: none;
            margin-top: 1px;
            margin-bottom:1px;
            font-size:$fontsizesamll ;

        }
        li{
            display: inline;
            margin-left: 15px;
        }
        .navbar-nav{
            display: block;
        }
       
       


    }
    .lastfooter{
        ul{

        }
    }
    
}
.homegif{
    z-index: -1;
    position: relative;
    margin-top: -104px;
    h2{
        font-weight: 700;
        transform: translate(-50%, 0px);
        left: 50%;
        color: #fff;
        position: absolute;
        bottom: 45px;
        font-size: 36px;
        text-align: center
    }
    img{
        width: 100%;
    }
}
@media only screen and (max-width: 992px) {
    .homegif {
        margin-top: -63px;
    }
    .homegif h2 {

        font-size: 13px;

    }
  
}
.contentsection{
    h2{
        color:$graycolor;
        font-size: 24px;
        font-weight: bold;

    }
    h1{
        color: $darkgray;
        font-size: 46px;
        font-weight: bold;

    }
    p{
        color: $litegray;
        font-size: $medaumfonsize;

    }
    a{
        font-size: $fontsizesamll;
        background: #ED450A 0% 0% no-repeat padding-box;
        border-radius: 4px;
        opacity: 1;
        color: #fff;
        text-decoration: none;
        padding: 13px 19px ;

    }
    img{
        width: 100%;
        filter: saturate(0);
    }
    img:hover{
        filter: saturate(1);

    }
    a:hover{
        color: #ED450A;
        border:1px dotted #ED450A;
        background-color: #fff;


    }
    .sahpinside{
        position: relative;
        padding-left: 47px;
        padding-bottom: 47px;
        padding-right: 47px;
        .shape{
            width: 25vw;
            height: 25vh;
            background: #F1F1F1 0% 0% no-repeat padding-box;
            opacity: 1;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        img{
           
        }

    }
    h5{
        font-size: 34px;
        line-height: 39px;
        text-align: center;

        /* Text/Title Text */

        color: #333333;
    }
}
.technologybeyond{
    height: 45vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    h4{
       font-size: 36px;
        position: absolute;
        bottom: 5vh;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFF6F6;
        font-weight: 200;
        opacity: 1;
        text-align: center
    

    }
   
}
.insights{
    .leftmain{
        
            img{
                width: 100%;
                border-radius: 8px;
            }
        
    }

   .col-md-5{
    img{
        width: 100%;
        height: 274px;
        object-fit: cover;
        border-radius: 8px;
        
        

    }
   }
   h1{
    color: #BBBCB5;
    font-size: $fontsizesamll;


   }
   h2{
       font-size: 22px;
       color: #333333;
       font-weight: bold;

   }
   p{
       font-size: $fontsizesamll;
       color: #666666;

   }
   a{
    padding-bottom: 5px;
    color: #ED450A;
    border-bottom: 4px solid;
    text-decoration: none;
    padding-right: 24px;

   }
   a:hover{
    color: #501703;
   
   }
   .sociallike {
       a{
           border: none;
           color: $litegray;
       }
   }
}
.tophref{
    a{
    font-size: 14px;
    background: #ED450A 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    color: #fff;
    text-decoration: none;
    padding: 13px 19px;

    }
    a:hover{
        color: #ED450A;
        border:1px dotted #ED450A;
        background-color: #fff;


    }
    h2{
        font-style: normal;
        font-weight: bold;
        font-size: 46px;
        line-height: 58px;
        color: #333333;
    }
    h3{
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        color: #939393;
    }
}
.homecarosel{
    img{
        width: 100%;
    }
    .carousel-control-next, .carousel-control-prev{
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50%;
        background-color: #ED450A;
        outline: none;
        border: none;
        border-radius: 54px;
    }
    .carousel-control-next{
        right: 5px;
    }
    .carousel-inner{
        background: #FFFFFF;
        border: 1px solid #E5EAF4;
        box-sizing: border-box;
        box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.03);
        border-radius: 16px;
        transform: translate(0%, -50%);

    }
    .content{
        padding: 15px;
        img{
            width: 40px;
            border-radius: 45px;
           
        }
        h2{
            font-size: 30px;
            color: #333333;
            font-weight: bold;


        }
        button{
            color: #ED450A;
            background: #f57e0f5c;
            border-radius: 10px;
            outline: none;
            border: none;
            font-size: 16px;
            font-weight: bold;
            margin-top: 30px;
            margin-bottom: 30px;

        }
        p{
            color: #5A7184;
            font-size: 18px;
            margin-top: 30px;
            margin-bottom: 30px;

        }
        span{
            color: #5A7184;
            font-size: $medaumfonsize;
            font-weight: 600;

        }
        h5{
            line-height: 0.7;
            color: #183B56;
            font-size: 16px;
            margin-left: 19px;

        }
    }
    .bgndimg{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    
    }
}
.childrens{
    position: relative;
    img{
        width: 100%;
        filter: saturate(0);
    }
    img:hover{
        filter: saturate(1);

    }
    .chilbotcontent{
        padding: 55px;
        background: #FFFFFFCC 0% 0% no-repeat padding-box;
        border-radius: 10px;
        opacity: 1;
        position: absolute;
        bottom: 0;
        text-align: center;
        left: 50%;
        transform: translate(-50%, -60px);
        a{
            font-size: 14px;
            background: #ED450A 0% 0% no-repeat padding-box;
            border-radius: 4px;
            opacity: 1;
            color: #fff;
            text-decoration: none;
            padding: 13px 19px;
        
            }
            a:hover{
                color: #ED450A;
                border:1px dotted #ED450A;
                background-color: #fff;
        
        
            }
    }

    
}
.space{
    height: 140px;
}
@media only screen and (max-width: 992px) {
    .space{
        height: 191px;
    }
    .childrens{
        display: none;
    }
    .technologybeyond{
        background-size: auto;
    }
  
}
.c-gray{
    filter: saturate(0);
}
.insights_single{
    .leftmain{
        
            img{
                width: 100%;
                border-radius: 8px;
            }
        
    }

   .col-md-3{
    img{
        width: 100%;
        height: 274px;
        object-fit: cover;
        border-radius: 8px;
        
        

    }
   }
   h1{
    color: #BBBCB5;
    font-size: $fontsizesamll;


   }
   h2{
       font-size: 22px;
       color: #333333;
       font-weight: bold;

   }
   p{
       font-size: $fontsizesamll;
       color: #666666;

   }
   a{
    padding-bottom: 5px;
    color: #ED450A;
    border-bottom: 4px solid;
    text-decoration: none;
    padding-right: 24px;

   }
   a:hover{
    color: #501703;
   
   }
   .sociallike {
       a{
           border: none;
           color: $litegray;
       }
   }
   .d-flex{
       margin-top: 14%;

   }
}
.prev_next_insight{
    button{
        background: #ED450A 0% 0% no-repeat padding-box;
        border-radius: 4px;
        opacity: 1;
        padding: 17px 24px;
        color: #FFF;
        outline: none;
        border: none;

    }
    button:hover{
        background: #BBBCB5 0% 0% no-repeat padding-box;
    }
}
.cronic {
    .carde{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #00000033;
        opacity: 1;
        width: 100;
        height: auto;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;overflow: hidden;



    }
    img{
        width: 100%;
    }
}
.cardc{
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.03);
    padding-bottom: 10px;
    img{width: 100%;}
    h5{
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 10px;
    margin-top: 10px;
    }
    h6{
        font-size: 14px;
        font-weight: normal;
        color:#939393;
       
    }
    
}
.csractiv{
    h6{
        font-weight: 600;
        font-size:24px;
    }
    img{
        width: 100%;
    }
}
.career{
    img{width: 100%;}
}
.taj{
    text-align: justify;
}
.Benefits{
    img{
     width:50px;
     height: auto;
    }
    h5{
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        /* identical to box height */
        color: #000000;

    }
    p{
        font-size: 14px;
        line-height: 16px;
        color: #000000;

    }
  
}

.jobtabs{
    .nav-link {
        background-color:transparent;
        border:none;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        color: #000;
        outline:none;
        border-radius: 0!important;


    }
    .nav-pills .nav-link.active{
        background-color: transparent;
        border-bottom: 2px solid #CB4C22;
        color:#CB4C22;
      
    }
    .job-preview{
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.102);
        padding: 15px;
        .lineleftjob{
            border-right: 2px dashed #C4481F;
            height: 100px;
        }
        .APPLY{
            background-color:#000;
            color: #FFFFFF;
            text-decoration: none;
            font-weight: 500;font-size: 14px;
            line-height: 16px;
            padding: 10px;

        }
        .job-content{
            a{
                font-weight: 600;
                font-size: 16px;line-height: 18px;
                color: #000000;
                text-decoration: none;


            }
            p{
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;/* identical to box height */
                margin-bottom: 0px;
                color: #000000;
            }
            .subdata{
                font-weight: 500;
                font-size: 14px;line-height: 16px;
                /* identical to box height */
                color: #848282;
               
            }
            b{
                font-size: 14px;line-height: 16px;
                color: #CB4C22;
                margin-left: 8px;

            }
        }
    
    
    
    }
    

}
@media only screen and (max-width: 992px) {
    .lineleftjob{
       
        height: 0px!important;
    }
    .jobtabs .job-preview .APPLY{
        padding:5px;
    }
  
}
.contactus{
    .contactback{
        background: #393939;
        padding:10%;
    }
    .col-md-5{
        background-size: cover;
        background-position: right;
    }
    h1{
        font-weight: bold;font-size: 48px;line-height: 64px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #F8F9FA;

    }
    p{
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: #A2A9B0;

    }
    label{
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #F8F9FA;

    }
    .form-check-input:checked{
        background-color: #ED450A;
        border-color: #441402;
    
    }
    .form-check-input{
        background-color: #393939;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: 3px solid rgba(243, 243, 243, 0.76);
    }
    .form-check-input:focus {
        border-color: #ED450A;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(237, 69, 9, 0.21);
    }
    .form-check{
        .label{
            color: #8C949D;

        }
    }
    .form-control{
        background: #3B4857;
        border: 1px solid #393939;
        box-sizing: border-box;
        columns: #CFD3D7;

    }
    button{
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 10px 0px;
        background: #ED450A;
        border-radius: 4px;
        border:none;
    }
    button:hover {
        color: #ED450A;
        background: #FFFFFF;

    }
    

}
@media only screen and (min-width: 1474px) {
    .contactus .contactback{
        padding: 18%;

    }
}
.servicescont{
    padding:10%;
    h1{
        font-weight: bold;
        font-size: 24px;
        line-height: 150%;
        color: #666666;
    }
    p{
        font-weight: bold;
        font-size: 48px;
        line-height: 64px;
      
        font-feature-settings: 'pnum' on, 'lnum' on;
        
        color: #333333;}
    label{
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;  
        color: #666666;
    }
    button{
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 10px 0px;
        background: #ED450A;
        border-radius: 4px;
        border:none;
    }
    button:hover {
        color: #ED450A;
        background: #FFFFFF;
        border: 1px dashed;

    }
    .form-control{
        background: #FFFFFF;
        border: 1px solid #CCE9FF;
        box-sizing: border-box;
        border-radius: 8px;
        border-radius: 8px;

    }
}
.col-md-6{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.singe_indight{
    img{
        width:100%;
    }
    p{
        font-size:16px;
        text-align: justify
    }
    button{
        border-radius: 5px;
        margin-left: 10px;
        outline:none;
        border:0px;
        padding:6px 10px;
    }
    .yellobtn{background: #F4D27A;


    }
    .greenbtn{
        background: #88E5A2;

    }
}
.chriniclesinnerpage {
    .carde{
        img{
            width: 50px;
            border-radius: 50px;
            margin-right: 10px;
        }
        h5{
            color: #183B56;
            font-weight: bold;
            font-size:16px;
        }
        p{
            text-align: justify;
        }

    }
   
}
.careersingle{
    h5{
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 32px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #898282;
    }
    h1{
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 40px;
        color: #333333;
    }
    h2{        
        font-weight: 600;
        font-size: 22px;
        line-height: 25px;
        color: #333333;
    }
    p{
        text-align:justify;
    }
    .backgray{
        background: #F5F5F5;
        padding: 40px;
        h6{
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 21px;
            color: #333333;

        }
        h4{
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            color: #6F6F6F;

        }
        button{
            background-color: #000;
            color:#fff;
            outline: none;
            border: none;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            padding: 10px 20px;
        }
        .ceterincol-4{
            border-left: 1px dashed #CB4C22;
            border-right: 1px dashed #CB4C22;

            .inside{
                margin-left: 50%;
                transform: translate(-50%, 0px);
            }
           
        }



        
    }
}